exportPattern("^[[:alpha:]]+")

import(CMLS)
import(parallel)

S3method(fitted, cpd)
S3method(fitted, indscal)
S3method(fitted, mcr)
S3method(fitted, parafac)
S3method(fitted, parafac2)
S3method(fitted, sca)
S3method(fitted, tucker)

S3method(print, cpd)
S3method(print, indscal)
S3method(print, mcr)
S3method(print, parafac)
S3method(print, parafac2)
S3method(print, sca)
S3method(print, tucker)

S3method(reorder, cpd)
S3method(reorder, indscal)
S3method(reorder, mcr)
S3method(reorder, parafac)
S3method(reorder, parafac2)
S3method(reorder, sca)
S3method(reorder, tucker)

S3method(rescale, cpd)
S3method(rescale, indscal)
S3method(rescale, mcr)
S3method(rescale, parafac)
S3method(rescale, parafac2)
S3method(rescale, sca)
S3method(rescale, tucker)

S3method(resign, cpd)
S3method(resign, indscal)
S3method(resign, mcr)
S3method(resign, parafac)
S3method(resign, parafac2)
S3method(resign, sca)
S3method(resign, tucker)

importFrom("stats", "cor", "dbeta", "promax", "quantile", "reorder", "rnorm", "runif", "varimax")
importFrom("utils", "txtProgressBar", "setTxtProgressBar")