exportPattern("^[[:alpha:]]+")

import(parallel)
import(quadprog)

S3method(fitted, indscal)
S3method(fitted, parafac)
S3method(fitted, parafac2)
S3method(fitted, sca)
S3method(fitted, tucker)

S3method(print, indscal)
S3method(print, parafac)
S3method(print, parafac2)
S3method(print, sca)
S3method(print, tucker)

S3method(reorder, indscal)
S3method(reorder, parafac)
S3method(reorder, parafac2)
S3method(reorder, sca)
S3method(reorder, tucker)

S3method(rescale, indscal)
S3method(rescale, parafac)
S3method(rescale, parafac2)
S3method(rescale, sca)
S3method(rescale, tucker)

S3method(resign, indscal)
S3method(resign, parafac)
S3method(resign, parafac2)
S3method(resign, sca)
S3method(resign, tucker)

importFrom("stats", "cor", "promax", "quantile", "reorder", "rnorm", "runif", "varimax")
importFrom("utils", "txtProgressBar", "setTxtProgressBar")